.row,form-group{
    margin:10px;
}

button{
    margin:auto;
    display:block;
  }
  
.red{
    color:red 
}


#over {
    position: fixed; /* Sit on top of the page content */
    /* display: none; Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#box {
    display: block;
    position: relative;
    top:30%;
    left: 30%;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 45%;
   
  /* margin: 0 auto; */
  background:white;
  padding: 67px;
  border: 1px solid #fff;
  /* border-radius: 20px/50px; */
  text-align: center;
}
#close
{
    display: block;
    font-size: 120%;
    margin-right: 15%;
}
<<<<<<< HEAD
#other
{
    display: block;
    font-size: 120%;
    margin-left:15%;
} 
=======
>>>>>>> a13f9120518b08310e76ae5eeb24ceb2016c1780


.scheduled-cab-panel{
    background-color: #0099bf;
    color: #fff;
<<<<<<< HEAD
    }
=======
    }
>>>>>>> a13f9120518b08310e76ae5eeb24ceb2016c1780
