nav.navbar{
    border-bottom: #dddddd 1px solid;
    /* box-shadow: 0px 0px 10px #888888; */
    margin-bottom: 8px;
}

.navbar-brand a, .navbar-brand a:visited{
    color: #5e5e5e;
    text-decoration: none;
}

.navbar-brand a:hover{
    text-decoration: none;
    background: #f8f8f8;
    color: #0d0083;
}

#header-employee-add, #header-employee-mu{
    height: 42px;
    padding: 0px 10px;
    margin-top: 8px;
}

#header-links a, #nav-request-link{
    display: block;
    /* padding: 0px; */
}

nav a:hover{
    background: #dddddd;
}

.tooltip-text{
    display: none;
    position: absolute;
    background: #000000;
    padding: 5px 15px;
    color: #ffffff;
    font-weight: bold;
    z-index: 1;
    border-radius: 10px;
    opacity: 0.6;
    text-align: center
}

.tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

a.nav-link, #nav-request-link{
    display: block;
    padding: 15px 10px;
}

.separator{
    display: block;
    width: 1px;
    background: linear-gradient(#f8f8f8,#aaaaaa, #f8f8f8);
    height: 50px;
}