<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand"><strong><a routerLink="/dash">iNCRediCabs</a></strong></div>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
        (click)="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="incredicabs-navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="navbar-navlocation" *ngIf="employee">
          Employee
          <span *ngIf="navLocation">{{ navLocation }}</span>
        </li>
        <li class="navbar-navlocation" *ngIf="roster">
          Roster
          <span *ngIf="navLocation">{{ navLocation }}</span>
        </li>
        <li class="navbar-navlocation" *ngIf="reports">
          Reports
          <span *ngIf="navLocation">{{ navLocation }}</span>
        </li>
        <li class="navbar-navlocation" *ngIf="vendor">
          Vendor
          <span *ngIf="navLocation">{{ navLocation }}</span>
        </li>
        <li class="navbar-navlocation" *ngIf="unscheduledRequest">
          Unscheduled Request
          <span *ngIf="navLocation">{{ navLocation }}</span>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/unscheduledRequest"><span class="glyphicon glyphicon-exclamation-sign"></span>Request</a></li>
        <!-- <li><span class="separator"></span></li> -->
        <li role="separator" class="divider"></li>
        <li><a *ngIf="employee" class="nav-link" routerLink="/employee/add">Add Employee</a></li>
        <li><a *ngIf="employee" class="nav-link" routerLink="/employee/mass-upload">Mass Upload</a></li>
        <li><a *ngIf="employee" class="nav-link" routerLink="/employee/view">View Employee</a></li>
        <li><a *ngIf="roster" routerLink="/roster/addRoute">Add Route</a></li>
        <li><a *ngIf="roster" routerLink="/roster/editroute">Edit Route</a></li>
        <li><a *ngIf="roster" (click)="emitUpload()" >Upload Roster</a></li>
        <li><a *ngIf="vendor && loada" routerLink="/add-vendor" class="nav-tabs">Add Vendor</a></li>
        <li><a *ngIf="vendor && loada" routerLink="/relationship" class="nav-tabs">View/Add RelationShip</a></li>
        <li><a *ngIf="vendor && loadb" routerLink="/add-cab" class="nav-tabs" >Add Cab</a></li>
        <li><a *ngIf="vendor && loadb" routerLink="/relationship" class="nav-tabs">View/Add RelationShip</a></li>
        <li><a *ngIf="vendor && loadc" routerLink="/add-driver" class="nav-tabs">Add Driver</a></li>
        <li><a *ngIf="vendor && loadc" routerLink="/relationship" class="nav-tabs">View/Add RelationShip</a></li>
        <li><a *ngIf="vendor && loadd" routerLink ="/vendor-list"class="nav-tabs"> View Vendor</a></li>
        <li><a *ngIf="unscheduledRequest" (click)="downloadRequestExcel()"><span class="glyphicon glyphicon-download-alt"></span>Download</a></li>
        <!-- <li *ngIf="employee || roster || vendor || unscheduledRequest"><span class="separator"></span></li> -->
        <li *ngIf="employee || roster || vendor || unscheduledRequest" role="separator" class="divider"></li>        
        <li><a routerLink="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>