<app-header></app-header>
<div class = "conatainer" align="center">
<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-6">
    <div class="thumbnail">
      <a routerLink="/employee/view" class="nav-tabs">
        <img src="assets/img/employee.svg" alt="..." class="img-thumbnail">
        <div class="caption">
          <h3>Employee</h3>
        </div>
      </a>
      <div class="content">
        <a class="button-link" routerLink="/employee/add">
          <span class="btn btn-default btn-lg dash-btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add
          </span>
        </a>
        <a class="button-link" routerLink="/employee/view">
          <span class="btn btn-default btn-lg dash-btn">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-6">
    <div class="thumbnail">
      <a routerLink="/roster/view" class="nav-tabs">
        <img src="assets\img\Roster.png" alt="..." class="img-thumbnail">
        <div class="caption">
          <h3>Roster</h3>    
        </div>
      </a>
      <div class="content">
        <a class="button-link" href="#">
          <span class="btn btn-default btn-lg dash-btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add
          </span>
        </a>
        <a class="button-link"  routerLink="/roster/go">
          <span class="btn btn-default btn-lg dash-btn">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-6">
    <div class="thumbnail">
      <a routerLink="/vendor-list" class="nav-tabs">
        <img src="assets\img\taxi.png" alt="..." class="img-thumbnail" >
        <div class="caption">
          <h3>Vendor</h3>
        </div>
      </a>
      <div class="content">
        <a class="button-link" routerLink="/add-vendor">
          <span class="btn btn-default btn-lg dash-btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add
          </span>
        </a>
        <a class="button-link" routerLink="/vendor-list">
          <span class="btn btn-default btn-lg dash-btn">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-6">
    <div class="thumbnail">
      <a routerLink="/report" class="nav-tabs">
        <img src="assets\img\reports.png" alt="..." class="img-thumbnail" >
        <div class="caption">
          <h3>Reports</h3>
        </div>
      </a>
      <div class="content">
        <a class="button-link" href="#">
          <span class="btn btn-default btn-lg dash-btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add
          </span>
        </a>
        <a class="button-link" href="#">
          <span class="btn btn-default btn-lg dash-btn">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
</div>