<app-header [module]="module" [navLocation]="navLocation" [loadc]="loadc"></app-header>

<!--<div id="filter-panel" class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Filter</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">      
      <form name="form" #f="ngForm" (ngSubmit)="onFilterGo(f.value)" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">        
        <div class="form-group">
          <!-- <div class="col-sm-1">
              <h3 id="filter-title">Filter</h3>
          </div> 
          <div class="col-sm-3">
            <select [(ngModel)]="filterType" name="filterType" type="" class="form-control" >
              <option value="" dsisabled selected>Filter By</option>
              <option value="vendor_name">Vendor Name</option>
              
              
              
              
            </select>
          </div>
          <div class="col-sm-3">
            <input type="text" [(ngModel)]="filterValue"  name="filterValue" class="form-control" >
          </div>
          <div class="col-sm-3">
            <button type="button" (click)="search()" class="btn btn-default">
              Go
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
-->
<div *ngFor="let driver of drivers; let i=index">
    <div class="panel" [ngClass]="checkStatus(driver)">
  
      <div class="panel-heading ">
          <div class="panel-title">{{driver.d_name}}
          <div class="pull-right">
            &nbsp;&nbsp;
              <span><a [ngClass]="disable(driver)" (click)="update(driver)" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>&nbsp;&nbsp;</span>
              <!-- <button class="btn btn-default"> -->
                <span *ngIf="showDriverArr[i] == false" class="glyphicon glyphicon-chevron-down" aria-hidden="true" (click)="onShowDetails(i)"></span>
              <!-- </button> -->
              <!-- <button> -->
              <span *ngIf="showDriverArr[i] == true" class="glyphicon glyphicon-chevron-up" aria-hidden="true" (click)="onHideDetails(i)"></span>
              </div>
              <label id="tooltip" class="switch pull-right">
                  <span [style.background-color]="color(driver)" class="tooltiptext">{{text(driver)}}</span>
                  <span ></span>  
                  <input (click)="status(driver)" type="checkbox" [checked]="check(driver)">
                  <span class="slider round"></span>
                  
              </label>
          </div>
      </div>
      
      <div class="panel-body driver-details-panel" id="dr-{{i}}">
          <ul class="list-group">
              <li class="list-group-item">Driver Name: {{driver.d_name}}</li>
              <li class="list-group-item">Driver Contact No: {{driver.d_contact_num}}</li>
              <li class="list-group-item">Cab No: {{driver.cab_no}}</li>
              <li class="list-group-item">Vendor Name: {{driver.vendor_name}}</li>
              <li class="list-group-item">License Expiry Date: {{driver.license_exp_date}}</li>
              
              
            </ul>
            <div class="pull-right">
              <a [routerLink]="" (click)="view(driver)">More <span class="glyphicon glyphicon-forward"></span></a>
            </div>
      </div>
    </div>
</div>
