<form #f="ngForm" [formGroup]="form" (keydown.enter)="$event.preventDefault()">







  <div class="panel panel-info">
    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px">
        Unscheduled Cab information
      </h4>
    </div>
    <div class="panel-body">
      <div class="row form-group">
        <div class="col-sm-4 ">
          <label>Vendor Name
            <span class="red">*</span>
          </label>
          <select formControlName="VendorName" name="VendorName" class="form-control">
            <option value="" dsisabled selected>Vendor Name*</option>
            <option *ngFor="let vendor of vendorNameList" value="{{vendor.vid}}">{{vendor.vname}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="VendorName.touched && VendorName.invalid">
            <div *ngIf="VendorName.errors.required"> Vendor Name is required </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <label>Cab Number
            <span class="red">*</span>
          </label>
          <input formControlName="CabNumber" name="CabNumber" class="form-control">
          <div class="alert alert-danger" *ngIf="CabNumber.dirty && CabNumber.invalid">
            <div *ngIf="CabNumber.errors.required"> Cab Number is required </div>
            <div *ngIf="CabNumber.errors.invalidcabnumber"> Invalid cab number</div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <label>Cost
            <span class="red">*</span>
          </label>
          <input formControlName="Cost" name="Cost" class="form-control">
          <div class="alert alert-danger" *ngIf="Cost.dirty && Cost.invalid || Cost.touched && Cost.invalid ">
            <div *ngIf="Cost.errors.required"> Cost is required </div>
            <div *ngIf="Cost.errors.cannotcontainspecialcharacters"> Can not contain special characters</div>
            <div *ngIf="Cost.errors.cannotcontainalphabets"> Can not contain alphabets</div>
            <div *ngIf="Cost.errors.cannotstartwithzero"> Can not start with zero</div>
          </div>
        </div>

      </div>






      <div class="row form-group">
        <div class="col-sm-4 ">
          <label>Route Start Date
            <span class="red">*</span>
          </label>
          <input formControlName="RouteStartDate" type="date" name="RouteStartDate" placeholder="Route Start Date*" class="form-control"
            required>

          <div class="alert alert-danger" *ngIf="RouteStartDate.touched && RouteStartDate.invalid">
            Select a valid Route Start Date
          </div>
        </div>
        <div class="col-sm-4 ">
          <label>Route End Date
            <span class="red">*</span>
          </label>
          <input formControlName="RouteEndDate" type="date" name="RouteEndDate" placeholder="Route End Date*" class="form-control"
            required>

          <div class="alert alert-danger" *ngIf="RouteEndDate.touched && RouteEndDate.invalid">
            Select a valid Route End Date
          </div>
        </div>
        <div class="col-sm-4 ">
          <label>Guard Needed
            <br>
            <input formControlName="GuardNeeded" type="checkbox" name="GuardNeeded" placeholder="Gaurd Needed">
          </label>
        </div>
      </div>









      <div class="row form-group">
        <div class="col-sm-4 ">
          <label>Number Of Employees
            <span class="red">*</span>
          </label>
          <select formControlName="NumberOfEmployees" name="NumberOfEmployees" class="form-control" (change)="numberofemp(NumberOfEmployees)">
            <option value="" disabled selected>Number Of Employees*</option>
            <option *ngFor="let seats of numberofseats">{{seats}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="NumberOfEmployees.touched && NumberOfEmployees.invalid">
            <div *ngIf="NumberOfEmployees.errors.required"> Number of employees is required </div>
          </div>
        </div>

      </div>
    </div>
  </div>


























  <div *ngIf="NumberOfEmployees.valid" class="panel panel-info">
    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px">
        Employees information
      </h4>
    </div>
    <div class="panel-body">



      <div *ngFor="let num of Numbersofemp">
        <div class="row form-group">
          <div class="col-sm-3 ">
            <label>Qlid
              <span class="red">*</span>
            </label>
            <select required [ngModelOptions]="{standalone: true}" ngModel #qlid="ngModel" name={{num}} (change)="createPost(qlid)" class="form-control">
              <option value="" disabled selected>Qlid*</option>
              <option *ngFor="let qlid of qlidlist" value="{{qlid.qlid}}">{{qlid.qlid}} {{qlid.name}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="qlid .touched && qlid .pristine">
              Qlid can not be empty
            </div>
          </div>
        </div>

        <div *ngIf="duplicateqlid" id="over">
          <div id="box">
            <b>
              <h4>Duplicate qlid in the form.
                <br>
                <br> Select a different qlid number </h4>
            </b>
            <br>
            <button class="btn btn-primary" style="width:30%" (click)="closeduplicateqlid()"> OK </button>
          </div>
        </div>

        <div *ngIf="emptyqlid" id="over">
          <div id="box">
            <b>
              <h4>Empty qlid in the form.
                <br>
                <br> Remove a qlid field or select a qlid number </h4>
            </b>
            <br>
            <button class="btn btn-primary" style="width:30%" (click)="closeemptyqlid()"> OK </button>
          </div>
        </div>

        <div *ngIf="success" id="over">
          <div id="box">
            <b>
              <h4>Form submitted successfully </h4>
            </b>
            <br>
            <button class="btn btn-primary" style="width:30%" (click)="redirect()"> OK </button>
          </div>
        </div>









        <div class="row form-group">
          <div class="col-sm-3 ">
            <label>First Name</label>
            <input type="text" name="firstname{{num}}" placeholder="{{employee[num].fname}}" class="form-control" disabled>
          </div>
          <div class="col-sm-3 ">
            <label>Middle Name</label>
            <input type="text" name="middleName{{Numbersofemp[num]}}" placeholder="{{employee[num].mname}}" class="form-control" disabled>
          </div>
          <div class="col-sm-3 ">
            <label>Last Name</label>
            <input type="text" name="lastName{{Numbersofemp[num]}}" placeholder="{{employee[num].lname}}" class="form-control" disabled>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-3 ">
            <label>Contact Number</label>
            <input type="text" name="contactNumber{{Numbersofemp[num]}}" placeholder="{{employee[num].ph}}" maxlength="10" class="form-control"
              disabled>
          </div>
          <div class="col-sm-3 ">
            <label>Drop Type
              <span class="red">*</span>
            </label>
            <select required [ngModelOptions]="{standalone: true}" ngModel  #DropType="ngModel" name="{{num}}" class="form-control"
            (change)="createDropType(DropType)">
              <option value="" selected>Home to Office</option>
              <option>Office to Home</option>
              <option>Home to Others</option>
              <option>Office to Others</option>
              <option>Office to Others</option>
              <option>Others to Others</option>
            </select>
          </div>
          <div class="col-sm-3 ">
            <label>Pickup Area</label>
            <input  required [ngModelOptions]="{standalone: true}" ngModel  #PickupArea="ngModel" name="{{num}}" type="text" placeholder="{{employee[num].parea}}" maxlength="10" 
            class="form-control" (change)=createPickupArea(PickupArea)>

    <button class="btn btn-primary"  (click)="log(PickupArea)">Submit</button>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-3 ">
            <label>Pickup Time</label>
            <input required [ngModelOptions]="{standalone: true}" ngModel  #PickupTime="ngModel" name="{{num}}" type="time" placeholder="Pickup Time"
              class="form-control" (change)=createTime(PickupTime)>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="f.invalid" (click)="submit(f)">Submit</button>

  </div>
</form>