<div class="row">
  <div *ngIf="showResponse" class="container col-sm-4 col-sm-offset-4">
    <div *ngIf="responseJSON.success" class="panel panel-success">
      <div class="panel-heading text-center">
        <strong>Success!</strong>
      </div>
      <div class="panel-body text-center">
        {{ responseJSON.message }}<br />
        <a routerLink="/login">Click here to Login!</a>
      </div>
    </div>
    <div *ngIf="responseJSON.success == false" class="panel panel-danger">
      <div class="panel-heading text-center">
        <strong>Error!</strong>
      </div>
      <div class="panel-body text-center">
        {{ responseJSON.message }}
      </div>
    </div>
  </div>
  <div *ngIf="showResponse == false && invalidTokenError == false" class="container col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <strong>Set Password</strong>
      </div>
      <div class="row panel-body">
        <div class="col-sm-6 col-sm-offset-3">
          <p class="text-center"> Note: Your password cannot be the same as your Qlid!</p>
          <form method="post" id="passwordForm" #f="ngForm" (ngSubmit)="onSave(f.value)" class="form-horizontal" role="form">
            <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off"
              (input)="onInput($event.target.value)" [(ngModel)]="password1">
              <div *ngIf="formError.password1.error" class="row form-error">
                {{ formError.password1.message }}
              </div>
            <div *ngIf="formError.password1.error == false" class="row">
              <div class="col-sm-6">
                <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 - 16 Characters Long<br>
                <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
              </div>
              <div class="col-sm-6">
                <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
                <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
              </div>
            </div>
            <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off"
              (input)="onInput($event.target.value)" [(ngModel)]="password2">
            <div *ngIf="formError.password2.error" class="row form-error">
              {{ formError.password2.message }}
            </div>
            <div *ngIf="formError.password2.error == false" class="row">
              <div class="col-sm-12">
                <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
              </div>
            </div>
            <button type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" id="submit-button">Set Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showLoading" class="loader-animation">
    <div class="loader-animation-text text-center">
      Loading...
    </div>
  </div>
  <div *ngIf="invalidTokenError && showLoading == false" class="container col-sm-6 col-sm-offset-3">
    <div class="panel panel-danger">
      <div class="panel-heading text-center">
        Invalid link!
      </div>
      <div class="panel-body">
        The duration to set password for the supplied url has either expired or is invalid.
        Please request for the link to set password again in some time....
      </div>
    </div>
  </div>
</div>