<app-employee-header></app-employee-header>

<div *ngIf="showError" id="error" class="panel panel-danger">
  <div class="panel-heading">
    Error!
  </div>
  <div class="panel-body">
    <div *ngIf="message">
      {{ message }}
    </div>
  </div>
</div>

<div *ngIf="showSuccess" id="success" class="panel panel-success">
  <div class="panel-heading">
    Success!
  </div>
  <div class="panel-body">
    {{ message }}
  </div>
</div>


<app-loader-anim [showLoader]="showLoader" [loaderText]="loaderText"></app-loader-anim>

<div class="container" *ngIf="!showSuccess" >
  <div class="row">

    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-default">
        <div class="panel-heading complaints-head clearfix">
          <h4 class="panel-title">Complaints</h4>
        </div>
        <div class="panel-body">
          <div *ngIf="showLoader == false" >
            <form name="myForm" #f="ngForm" (ngSubmit)="onSave()" role="form">
              <!-- <legend style="margin-bottom: 25px; text-align: center;">Request Unscheduled Cab</legend> -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <label>Ride Date</label>
                    <input type="date" onkeydown="return false" class="form-control" id="fromDate" name="fromDate" [(ngModel)]="fromDate" (change)="altered.fromDate=true;validate()"
                      required>
                    <div class="error" *ngIf="formError.fromDate.error">
                      {{ formError.fromDate.message }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <label>Pickup/Drop</label>
                    <select class="form-control" name="pickupDrop" (change)="altered.pickupDrop=true;validate()" [(ngModel)]="pickupDrop" required>
                      <option value=" ">Select</option>
                      <option value="Pickup">Pickup</option>
                      <option value="Drop">Drop</option>
                    </select>
                    <div class="error" *ngIf="formError.pickupDrop.error">
                      {{ formError.pickupDrop.message }}
                    </div>
                  </div>
                  <div class="col-sm-6" >
                    <label>Type</label>
                    <select class="form-control" name="tripType" (change)="altered.tripType=true;validate()" [(ngModel)]="tripType" required>
                      <option value=" ">Select</option>
                      <option value="Scheduled">Scheduled</option>
                      <option value="Unscheduled">Unscheduled</option>
                    </select>
                    <div class="error" *ngIf="formError.tripType.error">
                      {{ formError.tripType.message }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <label>Shift Timing </label>
                    <input *ngIf="!responseJSON.rosterInfo[0].shift_id && tripType!='Unscheduled'" type="text" class="form-control" disabled/>
                    <span *ngIf="responseJSON.rosterInfo[0].shift_id ">
                      <span *ngIf="responseJSON.rosterInfo[0].shift_id == '1'">07:00 AM - 04:00 PM</span>
                      <span *ngIf="responseJSON.rosterInfo[0].shift_id == '2'">10:00 AM - 07:00 PM</span>
                      <span *ngIf="responseJSON.rosterInfo[0].shift_id == '3'">12:00 PM - 09:00 PM</span>
                      <span *ngIf="responseJSON.rosterInfo[0].shift_id == '4'">Unsched Shift HR</span>
                    </span>
                  </div>
                  <div class="col-sm-6" >
                    <label>Cab Number</label>
                    <input type="text" class="form-control" id="cabNumber" name="cabNumber" readonly [(ngModel)]="cabNumber"  required/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <label>Complaints</label>
                    <select class="form-control" id="complaints" name="complaints"  [(ngModel)]="complaints">
                     <option calue="Cab Condition">Cab Condition</option>
                     <option calue="Driver issue">Driver issue</option>
                     <option calue="Driving">Driving</option>
                     <option calue="Cab Timing">Cab Timing</option>
                     <option calue="Cab Condition">Cab Condition</option>
                     <option calue="Trip route">Trip route</option>
                     <option calue="Frequent cab change">Frequent cab change</option>
                     <option calue="Frequent Driver Change">Frequent Driver Change</option>
                     <option calue="Ac not working">Ac not working</option>
                     <option calue="Taxi">Taxi</option>
                     <option calue="Hygiene">Hygiene</option>
                     <option calue="Others">Others</option>
                    </select>
                    <div class="error" *ngIf="formError.complaints.error">
                      {{ formError.complaints.message }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <legend></legend>
                <Label>Comments</Label>
                <textarea class="form-control" name="reason" placeholder="Enter Feedback here" type="textarea" id="comments" maxlength="140" rows="4" [(ngModel)]="comments">
                    </textarea>
              </div>
              <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>