<app-header></app-header>

<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-6">
    <a routerLink="/employee/add">
      <div class="thumbnail">
        <table>
          <tr>
            <td class="col-lg-9">
              <div class="caption">
                <h3>Add Employee</h3>
              </div>
            </td>
            <td>
              <img src="assets/img/employee-add.svg" />
            </td>
          </tr>
        </table>
      </div>
    </a>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-6">
    <a routerLink="/employee/view">
      <div class="thumbnail">
        <table>
          <tr>
            <td class="col-lg-9">
              <div class="caption">
                <h3>View / Edit Employee</h3>
              </div>
            </td>
            <td>
              <img src="assets/img/employee-view.svg" />
            </td>
          </tr>
        </table>
      </div>
    </a>
  </div>
</div>