    input[type=file]::-webkit-file-upload-button{background: #ffffff;padding: 7px 12px;margin-right: 10px;border: 1px solid #cccccc;border-radius: 4px;cursor: pointer;}
    input[type=file]::-webkit-file-upload-button:hover{background: #eeeeee;}  



body{
    /* Safari 4-5, Chrome 1-9 */
      background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#5cb85c));
  
    /* Safari 5.1+, Chrome 10+ */
      background: -webkit-radial-gradient(circle, #f7851a,#b85c6b);
  
  }
  
  
  
  
  .centered-form{
      margin-top: 60px;
  }
  
  .centered-form .panel{
      background: rgba(255, 255, 255, 0.8);
      box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
  }
  
  label.label-floatlabel {
      font-weight: bold;
      color: #46b8da;
      font-size: 11px;
  }
  
  #over {
    position: fixed; /* Sit on top of the page content */
    /* display: none; Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#box {
    display: block;
    position: relative;
    top:30%;
    left: 30%;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 35%;
   
  /* margin: 0 auto; */
  background:white;
  padding: 67px;
  border: 1px solid #fff;
  /* border-radius: 20px/50px; */
  text-align: center;
}
#close
{
    display: block;
    font-size: 120%;
    margin-right: 15%;
} 
#other
{
    display: block;
    font-size: 120%;
    margin-left:15%;
} 
.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  } 
   
