input[type=file]::-webkit-file-upload-button{background: #ffffff;padding: 7px 12px;margin-right: 10px;border: 1px solid #cccccc;border-radius: 4px;cursor: pointer;}
input[type=file]::-webkit-file-upload-button:hover{background: #eeeeee;} 
#one_row{
    margin-top:10px;
    padding-top:15px;
    border:1px solid gray;
}

#popup{
  margin:10px;
}
#popupbtn{
  width:20%;
}

#glificons{
    float:right;
    margin-bottom:10px;
}

#routeheading{
    float:left;
}
#routeglif{
float:right;
}

#heading{
    height:200px;
}
#fixedwidth{
  width:12%;
}
#emp{
    
    border:3px dotted lightgray;
    text-align: center;
    width:350px;
    margin-right:5px;
}
#emp:hover{
    border:3px dotted green;
}
#panel_body{
padding-left:auto;
padding-right:auto;
margin-bottom: 0px;
text-align:center;
}

#rowcss{
    display:inline-block;
    margin:auto;
    width:auto;
}

#card_show{
    width:auto;
}

.panel-heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:inherit;
}



#filter_box{
border: 1px solid lightgray;
opacity: 0.8;
}

#upload_box{
    width:100%;
}

#filter_body{ 
    
    padding-bottom: 0px;
}

.panel-info{
    margin-bottom: 8px;
}

.panel-heading{
    padding: 4px 4px 4px 15px;
}

#over {
    position: fixed; /* Sit on top of the page content */
    /* display: none; Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#box {
    display: block;
    position: relative;
    top:30%;
    left: 30%;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 45%;
   
  /* margin: 0 auto; */
  background:white;
  padding: 67px;
  border: 1px solid #fff;
  /* border-radius: 20px/50px; */
  text-align: center;
}
#close
{
    display: block;
    font-size: 120%;
    margin-right: 15%;
} 
#other
{
    display: block;
    font-size: 120%;
    margin-left:15%;
} 


/* loader */
/* .loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: lightblue;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
 -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
 left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
.loader1,
.loader1:before,
.loader1:after {
  border-radius: 50%;
}
.loader1 {
  color: lightblue;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 2em;
  height: 2em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
 -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader1:before,
.loader1:after {
  position: absolute;
  content: '';
}
.loader1:before {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
 left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader1:after {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */
.loader{
    margin-left:45%;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 50%;
    animation: spin 2s linear infinite;
}
.loader1{
    margin-left:95%;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10%;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* downloader loader  */
.dotdotdot:after {
  font-weight: 300;
  content: '...';
  display: inline-block;
  width: 20px;
  text-align: left;
  animation: dotdotdot 1.5s linear infinite;
}

@keyframes dotdotdot {
0%   { content: '...'; }
25% { content: ''; }
50% { content: '.'; }
75% { content: '..'; }
}



