<!-- <div class="panel panel-info" id="filter_box" *ngIf="loadUploadMenu" > -->
<app-header (childevent)="showfilter=$event" [module]="module" [navLocation]="navLocation"></app-header>

<!-- Upload menu -->
<div class="panel panel-info" id="upload_box" *ngIf="showfilter">
    <!-- <div class="panel-body" id="filter_body" *ngIf="showload"> -->
    <div class="panel-body" id="filter_body">
        <div class="row">
            <!-- <app-upload-form ></app-upload-form> -->
            <form>
                <div class="form-group pull-left" style="margin-left:10%;">
                    <input type="file" id="uploadFile" name="uploadFile" class="btn btn-defualt" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    />
                </div>
                <div class="form-group pull-right" style="margin-right:10%;">
                    <input type="button" class="btn btn-default" value="Upload Roster" (click)="upload()" />
                </div>
            </form>
            <!-- <div class="loader1" *ngIf="upload_spinner"></div>     -->
            <div class="loader1" *ngIf="upload_spinner"></div>

        </div>
    </div>
</div>

<!-- download data loader ends -->

<!-- Upload popup -->
<div *ngIf="uploadPopupClicked">
    <div class="alert alert-success" role="alert">
        <b>Item Processed :- {{_tr}} and Errored out :- {{_eo}}</b>
        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;" (click)="close_upload_popup()"></span>
    </div>
</div>

<div *ngIf="add_emp_status">
    <div *ngIf="add_return_msg.error_type == success">
        <div class="alert alert-success" role="alert">
            {{ add_emp_status_msg }}
            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;" (click)="close_add_status_popup()"></span>

            <!-- <a (click)="close_add_status_popup()" class="alert-link">Click Here</a>  -->
        </div>
    </div>
    <div *ngIf="add_return_msg.error_type == success">
        <div class="alert alert-danger" role="alert">
            {{ add_emp_status_msg }}
            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;" (click)="close_add_status_popup()"></span>

            <!-- <a (click)="close_add_status_popup()" class="alert-link">Click Here</a>  -->
        </div>
    </div>

    <div *ngIf="add_return_msg.error_type == fail">
        <div class="alert alert-danger" role="alert">
            {{ add_emp_status_msg }}
            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;" (click)="close_add_status_popup()"></span>

            <!-- <a (click)="close_add_status_popup()" class="alert-link">Click Here</a>  -->
        </div>
    </div>
</div>
<!-- delete status box start -->

<div *ngIf="delete_emp_status">
    <div *ngIf="delete_emp_return.error_msg == success">
        <div class="alert alert-success" role="alert">
            {{ delete_emp_status_message }}
            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;" (click)="close_delete_emp_msg()"></span>

            <!-- <a (click)="close_delete_emp_msg()" class="alert-link">Click Here</a>  -->
        </div>
    </div>
    <div *ngIf="!(delete_emp_return.error_msg == success)">
        <div class="alert alert-danger" role="alert">
            {{ delete_emp_status_message }}
            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;" (click)="close_delete_emp_msg()"></span>

            <!-- <a (click)="close_delete_emp_msg()" class="alert-link">Click Here</a>  -->
        </div>
    </div>
</div>
<!-- delete status box-ends-->

<!-- filter data not founderror box starts-->

<div *ngIf="errorexist">
    <div class="alert alert-danger" role="alert">
        {{msg}}
        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;" (click)="close_error_popup()"></span>

        <!-- <a (click)="close_error_popup()" class="alert-link">Click Here</a>  -->
    </div>

</div>
<!-- filter data not found error box ends-->

<!-- download data error box starts-->

<div *ngIf="download_error_exist">
    <div *ngIf="download_error_status.err_type == success">
        <div class="alert alert-success" role="alert">
            {{download_error_msg}}
            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;" (click)="close_dowload_error_popup()"></span>
            <!-- <a (click)="close_dowload_error_popup()" class="alert-link">Click Here</a>  -->
        </div>
    </div>
    <div *ngIf="download_error_status.err_type == fail">
        <div class="alert alert-danger" role="alert">
            {{download_error_msg}}
            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;" (click)="close_dowload_error_popup()"></span>
            <!-- <a (click)="close_dowload_error_popup()" class="alert-link">Click Here</a>  -->
        </div>
    </div>

</div>
<!--download data error error box ends-->

<!-- filter incorrect data  box starts-->

<div *ngIf="filter_error">
    <div class="alert alert-danger" role="alert">
        {{msg}}
        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;" (click)="close_filter_popup()"></span>

        <!-- <a (click)="close_filter_popup()" class="alert-link">Click Here</a>  -->
    </div>

</div>
<!-- filter data not found error box ends-->

<!-- filter box -->
<div class="panel panel-success" id="filter_box" style="margin-top:5px;">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px">
            Filters
        </h4>
        <div class="panel-title pull-right">
            <button (click)="tf=(!tf)" type="button" class="btn btn-default btn-md" style="background:white;">
                <span *ngIf="tf==false" class="glyphicon glyphicon-menu-down" aria-hidden="true" style="float:right;"></span>
                <span *ngIf="tf==true" class="glyphicon glyphicon-menu-up" aria-hidden="true" style="float:right;"></span>

            </button>
        </div>
    </div>
    <div *ngIf="tf" class="panel-body" id="filter_body">
        <div class="row">
            <!-- Vendor Name Filter Box-->
            <div class="col-md-2">
                <div class="form-group">
                    <label style="margin-left:5px;">Choose Vendor </label>
                    <select name="v_n" [(ngModel)]="bind_vendor_name" class="form-control" (change)="change_vendor()">
                        <option name="v_n" value="" disabled selected> Vendor Name</option>

                        <option name="v_n" value="{{i.vname}}" *ngFor="let i of filter_vendor_data">{{i.vname}} </option>
                    </select>
                </div>
            </div>

            <!-- Employee Name Filter Box-->
            <div class="col-md-2">
                <div *ngIf="vendor_filled">
                    <div class="form-group">
                        <label style="margin-left:5px;">Enter Employee Name</label>
                        <input type="text" name="e_n" [(ngModel)]="bind_emp_name" placeholder="Employee Name" (input)="check_name()" class="form-control input-md"
                            disabled>
                    </div>
                </div>
                <div *ngIf="!(vendor_filled)">
                    <div class="form-group">
                        <label style="margin-left:5px;">Enter Employee Name</label>
                        <input [style.border-color]="error_name ? 'red' : 'lightgray'" type="text" name="e_n" [(ngModel)]="bind_emp_name" placeholder="Employee Name"
                            (input)="check_name()" class="form-control input-md">
                    </div>
                </div>
                <!-- <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;"></span>       -->
            </div>
            <!-- Cab Number Filter Box-->
            <div class="col-md-2">
                <div *ngIf="vendor_filled">
                    <div class="form-group">
                        <label style="margin-left:5px;">Enter Cab Number</label>
                        <input [style.border-color]="error_cab ? 'red' : 'lightgray'" type="text" name="c_n" placeholder="Enter Cab Number " [(ngModel)]="bind_cab_no"
                            (input)="check_cab()" class="form-control input-md" disabled>
                    </div>
                </div>
                <div *ngIf="!(vendor_filled)">
                    <div class="form-group">
                        <label style="margin-left:5px;">Enter Cab Number</label>
                        <input [style.border-color]="error_cab ? 'red' : 'lightgray'" type="text" name="c_n" placeholder="Enter Cab Number " [(ngModel)]="bind_cab_no"
                            (input)="check_cab()" class="form-control input-md">
                    </div>
                </div>
            </div>
            <!-- Employee Qlid Filter Box-->
            <div class="col-md-2">
                <div *ngIf="vendor_filled">
                    <div class="form-group">
                        <label style="margin-left:5px;">Enter Employee Qlid</label>
                        <input [style.border-color]="error_qlid ? 'red' : 'lightgray'" type="text" name="q_l" placeholder="Enter Qlid " [(ngModel)]="bind_qlid"
                            (input)="check_qlid()" class="form-control input-md" disabled>
                    </div>
                </div>
                <div *ngIf="!(vendor_filled)">
                    <div class="form-group">
                        <label style="margin-left:5px;">Enter Employee Qlid</label>
                        <input [style.border-color]="error_qlid ? 'red' : 'lightgray'" type="text" name="q_l" placeholder="Enter Qlid " [(ngModel)]="bind_qlid"
                            (input)="check_qlid()" class="form-control input-md">
                    </div>
                </div>
            </div>
            <!-- Shift Time Filter Box-->
            <div class="col-md-2">
                <div class="form-group">
                    <label style="margin-left:5px;">Choose Shift </label>
                    <select name="s_t" [(ngModel)]="bind_shift_i" class="form-control" (change)="check_shift(s_t)">
                        <option value=" " disabled selected> Shift Time</option>
                        <option value="1">07:00AM to 04:00PM</option>
                        <option value="2">10:00AM to 07:00PM</option>
                        <option value="3">12:00PM to 09:00PM</option>
                        <option value="5">02:00PM to 11:00PM</option>
                        <option value="4">Unscheduled</option>
                        <option value="">All Shifts </option>
                    </select>
                </div>
            </div>
            <!-- Select Basic -->
            <!-- Button -->
            <div class="col-md-2" style="margin-top:24px;">
                <button type="button" class="btn btn-default btn-md" style="background:white;margin-right:5px;" (click)="ApplyFilter()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-md" style="background:white;margin-right:5px;" (click)="RemoveFilter()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <button *ngIf="error_shift" type="button" class="btn btn-default btn-md" style="background:white;" (click)="downloadexcel()"
                    disabled>
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </button>

                <button *ngIf="!error_shift" type="button" class="btn btn-default btn-md" style="background:white;" (click)="downloadexcel()">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </button>
                <!-- <div class="col-md-1">

                    <button id="singlebutton" (click)="ApplyFilter()" name="singlebutton" class="btn btn-default">Apply Filter</button>
                </div>
                <div class="col-md-1"  style="float:left;margin-left:20px;">

                    <button style="width:100px;" id="singlebutton" (click)="RemoveFilter()" name="singlebutton" class="btn btn-default">Reset </button>
                </div> -->
            </div>


        </div>
        <!-- add reset -->
        <!-- form end -->
    </div>
</div>
<!-- filter ends -->

<!-- downloading data loader-->
<div *ngIf="downloadstatus">
    <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="50" style="width: 100%">
            <span>Downloading
                <span class="dotdotdot"></span>
            </span>
        </div>
    </div>
</div>




<!-- Dynamic view of routes start -->
<!-- main loader -->
<app-loader-anim [showLoader]="spinner" [loaderText]="text"></app-loader-anim>
<!-- <div class="loader" *ngIf="spinner"></div> -->
<div *ngFor=" let u of cab_number">

    <!-- <div  [class]= "shift_arr[u]==4 ? 'panel panel-warning' : 'panel panel-info'"> -->
    <div class="panel panel-info">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px">
                Route : {{Max_arr[u]}}
            </h4>

            <!-- <input type="hidden" [(ngModel)]="cab_box_selected" value="cab_arr[u]" /> -->
            <div>
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;margin-left:5%;">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span *ngIf="shift_arr[u] == 1"> 07:00 AM to 04:00 PM</span>
                    <span *ngIf="shift_arr[u] == 2"> 10:00 AM to 07:00 PM</span>
                    <span *ngIf="shift_arr[u] == 3"> 12:00 PM to 09:00 PM</span>
                    <span *ngIf="shift_arr[u] == 5"> 02:00 PM to 11:00 PM</span>
                    <span *ngIf="shift_arr[u] == 4"> Unscheduled Shift HR </span>
                </h4>
            </div>

            <h4 class="panel-title pull-left" id="fixedwidth" style="padding-top: 7.5px;margin-left:5%;">
                <span class="glyphicon glyphicon-bed" aria-hidden="true"></span> {{cab_arr[u]}}
            </h4>
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;margin-left:3%;">
                <span class="glyphicon glyphicon-user" aria-hidden="true"> </span> {{vendor_arr[u]}}
            </h4>

            <div class="panel-title pull-right">

                <button type="button" *ngIf="seats_left[u]>0" (click)="add_clicked(cab_arr[u],shift_arr[u])" class="btn btn-default btn-md"
                    style="background:white;">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" style="float:right;"></span>
                </button>
                <button type="button" *ngIf="seats_left[u]<=0" class="btn btn-default btn-md" style="background:white;" disabled>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" style="float:right;"></span>
                </button>
                <button type="button" (click)="checkentry(cab_arr[u],shift_arr[u])" class="btn btn-default btn-md" style="background:white;">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" style="float:right;"></span>
                </button>

                <button type="button" *ngIf="shift_arr[u]==4" (click)="editinfo(cab_arr[u],shift_arr[u])" class="btn btn-default btn-md"
                    style="background:white;" disabled>
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="float:right;"></span>
                </button>

                <button type="button" *ngIf="!(shift_arr[u]==4)" (click)="editinfo(cab_arr[u],shift_arr[u])" class="btn btn-default btn-md"
                    style="background:white;">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="float:right;"></span>
                </button>

                <button type="button" *ngIf="shift_arr[u]==4" routerLinkActive="active" [routerLink]="['/roster/viewrdetail', cab_arr[u], shift_arr[u] , seats_left[u] , Max_arr[u],vendor_arr[u]]"
                    class="btn btn-default btn-md" style="background:white;" disabled>
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="float:right;"></span>
                </button>


                <button type="button" *ngIf="!(shift_arr[u]==4)" routerLinkActive="active" [routerLink]="['/roster/viewrdetail', cab_arr[u], shift_arr[u] , seats_left[u] , Max_arr[u],vendor_arr[u]]"
                    class="btn btn-default btn-md" style="background:white;">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="float:right;"></span>
                </button>

                <button type="button" (click)="showme(u)" (dblclick)="isShow= !isShow" class="btn btn-default btn-md" style="background:white;">
                    <span *ngIf="(!(str==u)) && !isShow" class="glyphicon glyphicon-menu-down" aria-hidden="true" style="float:right;"></span>
                    <span *ngIf="(str==u) || isShow" class="glyphicon glyphicon-menu-up" aria-hidden="true" style="float:right;"></span>
                </button>

            </div>
        </div>

        <div *ngIf="str==u || isShow" class="panel-body emp-panel-body" id="panel_body">
            <div *ngFor="let i of postcontent" id="rowcss">
                <div *ngIf="(i.Cab_number == cab_arr[u]) && (i.shift_id == shift_arr[u])">
                    <!-- <input  type="hidden" value="i.Qlid" [(ngModel)]="printval" /> -->
                    <div *ngIf="cbox">
                        <div *ngIf="(cab_arr[u]==checkcab) && (shift_arr[u] == checkshift)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="deleteMe(i.Qlid,checkshift)"></span>
                        </div>
                    </div>
                    <div *ngIf="ebox">
                        <div *ngIf="(cab_arr[u]==editcab) && (shift_arr[u] == editbox)">
                            <span class="glyphicon glyphicon-pencil" routerLinkActive="active" aria-hidden="true" [routerLink]="['/roster/editemp',i.Qlid,i.shift_id,i.Cab_number]"></span>
                        </div>
                    </div>
                    <div class="card" id="emp">
                        <div class="card-block" style="height:68px;">
                            <button type="button" class="btn btn-default btn-md" style="background:white;margin-right:0px;">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-md" style="background:white;width:300px;">
                                <b>{{i.f_name }} {{i.m_name }} {{i.l_name}}</b> [{{i.Qlid}}]</button>
                            <br>
                            <button type="button" class="btn btn-default btn-md" style="background:white;float:left;">
                                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-md" style="padding-left:5px;background:white;width:85px;">{{i.e_mob}}</button>
                            <button type="button" class="btn btn-default btn-md" style="background:white;margin-right:0px;margin-left:0px;">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-md" style="background:white;width:170px;margin-left:0px;">{{i.p_a}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Add Popup -->
<div *ngIf="clicked" id="over">
    <!-- <div id="box">
               <b><h4>Select Employee You Want To Add </h4></b><br><br>
               <select  name="emp_sel_to_add" [(ngModel)]="emp_selected" class="form-control">
                     <option  *ngFor="let i of add_emp_qlid" value="{{i.Qlid}}"> {{i.Qlid}} ||{{i.EFname}} {{i.ELname}}</option>
                </select><br>
        <button style="float:left;width:30%;" class="btn btn-secondary btn-sm btn-danger" id="other" (click)="add_emp()"> Add </button>
        <button style="float:right;width:30%;" class="btn btn-secondary btn-sm btn-primary" id="close" (click)="close_add_popup2()"> Close </button>
    </div> -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    <b>Select Employee You Want To Add</b>
                </h4>
            </div>
            <div class="modal-body">
                <select name="emp_sel_to_add" [(ngModel)]="emp_selected" class="form-control">
                    <option *ngFor="let i of add_emp_qlid" value="{{i.Qlid}}"> {{i.Qlid}} ||{{i.EFname}} {{i.ELname}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <div class="row" id="popup">
                    <button class="btn btn-danger" id="popupbtn" (click)="add_emp()"> Add</button>
                    <button class="btn btn-primary" id="popupbtn" (click)="close_add_popup2()"> Close </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete popup -->
<div *ngIf="deleteClicked" id="over">
    <!-- <div id="box">
       <b><h4>Do You really Want to deactivate this Employee </h4></b><br><br>
<button style="float:left;width:30%;" class="btn btn-secondary btn-sm btn-danger" id="other" (click)="deleteEmp()">Deactivate</button>
<button style="float:right;width:30%;" class="btn btn-secondary btn-sm btn-primary" id="close" (click)="close_delete_popup()"> Close </button>
</div> -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    <b>Alert</b>
                </h4>
            </div>
            <div class="modal-body">
                <p>Do You really Want to deactivate this Employee
                </p>
            </div>
            <div class="modal-footer">
                <div class="row" id="popup">
                    <button class="btn btn-danger" id="popupbtn" (click)="deleteEmp()">Deactivate</button>
                    <button class="btn btn-primary" id="popupbtn" (click)="close_delete_popup2()"> Close </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div  *ngIf="uploadPopupClicked" id="over">
    <div id="box">
    
           
          <h4> Item Processed :- {{uploadinfo.tr}}</h4> 
          
           
          <h4> Errored out :- {{uploadinfo.eo}} </h4>
<button style="margin-left:100px;width:30%; text-align:center;" class="btn btn-secondary btn-sm btn-primary" id="close" (click)="close_upload_popup()"> Close </button>
</div>

</div> -->

<!-- common error  box starts-->

<!-- <div *ngIf="common_error_exist" >
    <div class="alert alert-danger" role="alert">
        {{ commom_error_msg }}
        <a (click)="close_upload_popup()" class="alert-link">Click Here</a> 
    </div>
    
    </div>   -->
<!-- common error box ends-->
<!-- common error  box starts-->