<!-- Name Section -->
<app-header [module]="module" [navLocation]="navLocation" [loadb]="loadb"></app-header>
<div>
<div class="row">
  <div class = "form-group">
      
       <div class="pull-right">
       
          <button type="button" (click)="add_cab()" class="btn btn-primary">Save</button>
          <button type="button" routerLink="/cab-list" class="btn btn-basic">Cancel</button>        
          
       
 
          <div *ngIf="new" id="over">
              <div id="box">
                     <b><h4>Cab Details Already Exists !!!</h4></b><br><br>
              <!-- <button style="float:left;width:30%;" class="btn btn-secondary btn-sm btn-success"id="other" (click)=update()> Update </button> -->
              <button style="float:right;width:30%;" class="btn btn-secondary btn-sm btn-primary"id="close" (click)=close()> Close </button>
              </div>
              </div>
            </div>
  </div>
  </div>
  <div>

        
      
    <div class="col-md-8 col-md-offset-2">
        <div class="success">{{success}}</div>
      <form class="form-horizontal" role="form">
        <fieldset>
  
          <!-- Form Name -->
          <legend><b>Personal Information Details</b></legend>
          
         
          <!-- Text input-->
          <div class="form-group">
            
            <div class="col-sm-4">
              <b>Cab Registration Number* :</b><input type="text"id="license_plate_number" name="license_plate_number" [(ngModel)]="license_plate_number" placeholder="Cab Registration Number" class="form-control">
              <span class="text-danger" ng-show="license_plate_number.$error.required">{{message2}}</span> 
            </div>
  
            <div class="col-sm-4">
              <b>Car Model* :</b><input type="text" name="model" [(ngModel)]="model" placeholder="model" class="form-control">
              <span class="text-danger" ng-show="model.$error.required">{{message3}}</span>
            </div>
            <div class="col-sm-4">
              <b>Fuel Type* :</b><select name="fuel" [(ngModel)]="fuel" class="form-control">
                  <option value = 0>Select Fuel Type</option>
                  <option value = "Petrol">Petrol</option>
                  <option value = "Diesel">Diesel</option>
                  <option value = "CNG">CNG</option>
                </select>
                <span class="text-danger" ng-show="fuel.$error.required">{{message4}}</span>
            </div>
          </div>
            
            <div class="form-group">
                <div class="col-sm-4">
                  <b>Cab Type* :</b><select name="type" (change)="changeCabType($event.target.value)" [(ngModel)]="type" class="form-control">
                      <option value = 0>Cab Type</option>
                      <option value = "Big">Big</option>
                      <option value = "Small">Small</option>
                  </select>
                  <span class="text-danger" ng-show="type.$error.required">{{message5}}</span>
                </div>
                <div class="col-sm-4">
                  <b>Capacity* :</b><input type="number" disabled name="occupancy" [(ngModel)]="occupancy" placeholder="occupancy" class="form-control">
                  <span class="text-danger" ng-show="occupancy.$error.required">{{message6}}</span>     
                </div>
                <div class="col-sm-4">
                  <b>Cab Rate :</b><input type="text" name="cab_rate" [(ngModel)]="cab_rate" placeholder="Cab Rate" class="form-control">
                </div>
                
                </div>
                   
               <br>
              
              <legend><b>Uploads</b></legend>
              <div class="form-group">
                  <div class="col-sm-4">
                     <b> Registration Certificate*:</b>
                      <input type="file" id="Rcert" name="Rcert" accept="image/jpeg,image/jpg">
                      <span class="text-danger" ng-show="Rcert.$error.required">{{message7}}</span>
                    </div>
                    <div class="col-sm-4">
                        <!-- <input type="text" name="pollution certificate" placeholder="pollution certificate" class="form-control">-->
                        <b>Pollution Certificate*:</b>
                         <input type="file" name="Pcert" id="Pcert" accept="image/jpeg,image/jpg" >
                         <span class="text-danger" ng-show="Pcert.$error.required">{{message8}}</span>
                       </div>
                       <div class="col-sm-4">
                         <b>Fitness Certificate*:</b>
                         <input type="file" name="Fcert" id="Fcert" accept="image/jpeg,image/jpg" >
                         <span class="text-danger" ng-show="Fcert.$error.required">{{message9}}</span>
                       </div>
  
              </div>
              
              <div class="form-group">
                  
                    <div class="col-sm-4">
                        <b>Insurance Certificate*:</b>
                        <input type="file" name="icert" id="icert" accept="image/jpeg,image/jpg">
                        <span class="text-danger" ng-show="icert.$error.required">{{message10}}</span>
                      </div>
                      <div class="col-sm-4">
                        <b> Entry Tax Haryana Certificate:</b>
                         <input type="file" id="entry_tax_haryana_certi" name="entry_tax_haryana_certi" accept="image/jpeg,image/jpg" >
                        </div>
                       <div class="col-sm-4">
                        <!-- <input type="text" name="pollution certificate" placeholder="pollution certificate" class="form-control">-->
                        <b>Entry Tax Delhi Certificate:</b>
                         <input type="file" name="entry_tax_delhi_certi"  id="entry_tax_delhi_certi" accept="image/jpeg,image/jpg" >
                          </div>
             </div>
              
             <div class="form-group">
                  <div class="col-sm-4">
                     <b>Entry Tax UP Certificate:</b>
                     <input type="file" name="entry_tax_up_certi"  id="entry_tax_up_certi" accept="image/jpeg,image/jpg" >
                      </div>
              </div>
          
             <br>
             
           <legend> <b>Date</b></legend>
           <div class="form-group">
              <div class="col-sm-4">
                  <b>Manufacturing date*:</b>
                  <input type="date" name="Mdate" [(ngModel)]="Mdate"  class="form-control">
                  <span class="text-danger" ng-show="Mdate.$error.required">{{message11}}</span>
                </div>
                <div class="col-sm-4">
                    <b>Pollution Certificate Expiry Date*:</b>
                    <input type="date" name="Pdate" [(ngModel)]="Pdate"  class="form-control">
                    <span class="text-danger" ng-show="Pdate.$error.required">{{message12}}</span>
                  </div>
                  <div class="col-sm-4">
                      <b>Fitness Certificate Expiry Date*:</b>
                      <input type="date" name="Fdate" [(ngModel)]="Fdate"  class="form-control">
                      <span class="text-danger" ng-show="Fdate.$error.required">{{message13}}</span>
                    </div>
  
  
           </div> 
           <div class="form-group">
              

                <div class="col-sm-4">
                    <b>Insurance Certificate Expiry Date*:</b>
                    <input type="date" name="idate" [(ngModel)]="idate"  class="form-control">
                    <span class="text-danger" ng-show="idate.$error.required">{{message14}}</span>
                  </div>
                  <div class="col-sm-4">
                    <b>Entry Tax Haryana Expiry Date:</b>
                    <input type="date" name= "entry_tax_haryana_exp_date" [(ngModel)]="entry_tax_haryana_exp_date"  class="form-control">
                    <span class="text-danger" ng-show="idate.$error.required">{{message15}}</span>
                   </div>
                  <div class="col-sm-4">
                      <b>Entry Tax Delhi Expiry Date:</b>
                      <input type="date" name="entry_tax_delhi_exp_date" [(ngModel)]="entry_tax_delhi_exp_date"  class="form-control">
                      <span class="text-danger" ng-show="idate.$error.required">{{message16}}</span>
                     </div>
                  
         </div>
         <div class="form-group">
          
              <div class="col-sm-4">
                  <b>Entry Tax UP Expiry Date:</b>
                  <input type="date" name="entry_tax_up_exp_date" [(ngModel)]="entry_tax_up_exp_date"  class="form-control">
                  <span class="text-danger" ng-show="idate.$error.required">{{message17}}</span>
                  </div>
     </div>
      
    
          <!-- Text input-->
          
  
  <!-- Address Section -->
          <!-- Form Name -->
          
                  
       
  <!-- Command -->
         
        </fieldset>
      </form>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->