body {
    background-color: white;
}

#login-title{
    font-size: 20px;
    font-family: sans-serif;
    padding: 15px 0px;
    margin: 0px 0px 15px 0px
}

#form{
    margin-top: 10px;
}

#loginboxalign{
/* position: fixed; */
    
}

#ncr-logo{
    display: block;
    position: fixed;
    width: 100px;
}

#loginbox {
    background-color: transparent;
    z-index: 1000;
    position: fixed; 
    height: 100%;
    width: 100%;
    margin-top: 10%;
    left: 0px;
}

#loginbox > div:first-child {   
    padding-bottom: 10px;
}

.iconmelon {
    display: block;
    margin: auto;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {
    border-radius: 0px;
    border: none;
}

.panel-body {
    padding-top: 30px;
    background-color: #f2f2f2;
    border-radius: 0px;
}

.panel-heading{
    background: linear-gradient(to right, #54b948, #0099bf);
    border-top-left-raduis: 0px;
    border-top-right-raduis: 0px;
}

.iconmelon,
.im {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  fill: #525151;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-group ul{
    list-style-type: none;
    padding: 0px;
}

.g-recaptcha{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.panel, .panel-default{
    padding: 0px;
    margin: 0px;
}

.panel-body{
    padding: 10px 15px 0px 20px;
}

.panel-body .input-group{
    margin-bottom: 5px;
    padding: 0px;
}

table td{
    padding: 0px;
}

/* For video  */

#videosrc {
   position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-axis: 10;
}

#login-td{
    /* margin-top: 5px; */
    padding: 0px 0px 0px 0px;
    vertical-align: top;
}

#login-button{
    background: #0099bf;
    width: 100px;
    border: 0px;
    font-size: 16px;
    padding: 10px 15px;
    /* margin-top: 5px; */
}