<div class="container">    

    <div *ngIf="error" class="alert alert-danger" id="login-error">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> {{ errorMessage }}
    </div>

    <div id="loginbox" class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2"> 
      
        <div class="panel panel-default" style="padding-bottom:0px">
            <div class="panel-heading">
                <div class="panel-title text-center">iNCRediCabs Login</div>
            </div>     

            <div class="panel-body">
            
                <form name="form"  #f="ngForm" (ngSubmit)="onSubmit(f.value)" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">
                    
                    <div class="input-group" style="margin-bottom:10px">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="user" type="text" class="form-control" name="qlid" value="" placeholder="QLID" [(ngModel)]="user.qlid">                                        
                    </div>

                    <div class="input-group" style="margin-bottom:10px">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.password">
                    </div>                                                                  

                    <div class="form-group">
                        <div class="col-sm-12">
                            <!-- <div class="g-recaptcha col-sm-offset-8 col-sm-offset-2" data-sitekey="6LfobEoUAAAAAMYt5atxvWc-9c_EToqphl3arXsI"></div> -->
                            <table>
                                <tr>
                                    <td class="col-sm-9">
                                        <ul>
                                            <li><a routerLink="/forgot-password">Forgot Password</a></li>
                                            <li><a routerLink="/new-acc-setup">New Account Setup</a></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-log-in center"></span>
                                            Log in
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>                     
        </div>  
    </div>
</div>