<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!-- Include the above in your HEAD tag -->

<app-employee-header></app-employee-header>
<div class="container">
  <app-loader-anim [showLoader]="showLoader" [loaderText]="loaderText"></app-loader-anim>
  <div *ngIf="showError && showLoader == false" class="alert alert-danger col-md-6 col-md-offset-3">
      <strong>Error!</strong>
      {{ message }}
      <span class="pull-right close" (click)="showError = false">&times;</span>
  </div>
  <div *ngIf="showSuccess && showLoader == false" class="alert alert-success col-md-6 col-md-offset-3">
      <strong>Success!</strong>
      {{ message }}
      <span class="pull-right close" (click)="showSuccess = false">&times;</span>
    </div>

  <div *ngIf="showLoader == false && showSuccess == false"
    class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p class="text-center"> Note: Your password cannot be the same as your Qlid!</p>
      <form method="post" id="passwordForm" (ngSubmit)="onSave()">
        <input type="password" class="input-lg form-control" name="current_password"
          id="current_pass" placeholder="Current Password" autocomplete="off"
          (input)="onInput($event.target.value)" [(ngModel)]="currentPassword">
          <div *ngIf="formError.currentPassword.error" class="row form-error">
            {{ formError.currentPassword.message }}
          </div>
        <input type="password" class="input-lg form-control" name="password1" id="password1"
          placeholder="New Password" autocomplete="off" [(ngModel)]="password1"
          (input)="onInput($event.target.value)">
        <div class="row">
          <div class="col-sm-6">
            <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
              8 Characters Long<br>
            <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
              One Uppercase Letter
          </div>
          <div class="col-sm-6">
            <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
              One Lowercase Letter<br>
            <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
              One Number
          </div>
        </div>
        <input type="password" class="input-lg form-control" name="password2" id="password2"
          placeholder="Repeat Password" autocomplete="off" [(ngModel)]="password2"
          (input)="onInput($event.target.value)">
        <div class="row">
          <div class="col-sm-12">
            <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
              Passwords Match
          </div>
        </div>
        <input type="submit" id="submit-button" class="col-xs-12 btn btn-primary btn-load btn-lg"
          data-loading-text="Changing Password..." value="Change Password">
      </form>
    </div><!--/col-sm-6-->
  </div><!--/row-->
</div>