#current_pass{
    margin-bottom: 10px;
}

#submit-button{
    background-color: #888888;
    border-color: #888888;
    cursor: no-drop;
}

.close{
    font-weight: bold;
    color: #555555;
}

.close:hover{
    color: #000000;
}


.change-password-panel{
    background-color: #0099bf;
    color: #fff;
    }