.user-detail-data{
    padding-left :10px
}

#user-detail-left .user-detail-data{
    font-size: 20px
}
.glyphicon{
    font-size: 17px
}

#user-detail-right .user-detail-data{
    font-size: 16px;
    color: #666666;
}
.img-thumbnail{
    border: none;
    padding: 0px;
    width: 20px;
    height: 20px;
}

.data-col{
    padding-left: 10px;
}

.card, .card-block{
    display: inline-block;
    margin: auto auto;
    width: auto;
}

#one_row{
    margin-top:10px;
    padding-top:15px;
    border:1px solid gray;
}

#glificons{
    float:right;
    margin-bottom:10px;
}

#routeheading{
    float:left;
}
#routeglif{
float:right;
}

#heading{
    height:200px;
}

#emp{    
    border:3px solid #ffffff;
    /* text-align: center; */
    width:auto;
    margin:5px;
    padding-bottom: 5px;
}
#emp:hover{
    border:3px dotted lightblue;
}
#panel_body{
padding-left:auto;
padding-right:auto;
margin-bottom: 0px;
text-align:center;
}

#employee-roster-info{
    padding: 0px;
}

#rowcss{
    display:inline-block;
    margin:auto;
    width:auto;
}

#card_show{
    width:auto;
}

.panel-heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:inherit;
}

#filter_box{
border: 1px solid lightgray;
opacity: 0.8;
}

#upload_box{
    width:100%;
}

#filter_body{ 
    
    padding-bottom: 0px;
}

.panel-info{
    margin-bottom: 8px;
}

.panel-heading{
    padding: 4px 4px 4px 15px;
}

#over {
    position: fixed; /* Sit on top of the page content */
    /* display: none; Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#box {
    display: block;
    position: relative;
    top:30%;
    left: 30%;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 45%;
   
  /* margin: 0 auto; */
  background:white;
  padding: 67px;
  border: 1px solid #fff;
  /* border-radius: 20px/50px; */
  text-align: center;
}
#close
{
    display: block;
    font-size: 120%;
    margin-right: 15%;
} 
#other
{
    display: block;
    font-size: 120%;
    margin-left:15%;
}

.user-detail-heading{
    padding-bottom: 2px;
}

.rstr-head{
    margin: 7.5px 5px 0px 5px;
}

.panel-heading{
    padding: 15px;
}
.loader{
    margin-left:45%;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 50%;
    animation: spin 2s linear infinite;
}
.loader1{
    margin-left:95%;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10%;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }





