<app-header [module]="module" [navLocation]="navLocation"></app-header>
<form>
    <div class="form-group">
      <legend>Type of Route</legend>
      <select ngModel name="typeOfRoute" id="typeOfRoute" class="form-control" #typeOfRoute="ngModel" (change)="routeType(typeOfRoute)">
        <option value="" dsisabled selected>Type of Route*</option>
        <option value="Scheduled" selected="selected">Scheduled</option>
        <option value="Unscheduled">Unscheduled</option>
      </select>
    </div>
  
    <div class="form-group" *ngIf="typeOfRoute.touched">
      <div *ngIf="display">
        <scheduled-form></scheduled-form>
      </div>
      <div *ngIf="!display">
        <unscheduled-form></unscheduled-form>
  
      </div>
    </div>
  
  </form>