<app-header [module]="module" [navLocation]="navLocation"></app-header>
<div>

  <div>
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading update-driver-panel clearfix">
          <h4 class="panel-title"> Personal Information Details
            <span class="pull-right">
              <button type="submit" (click)="upd()" class=" btn-primary">Update</button> |
              <button type="submit" routerLink="/driver-list" class=" btn-primary">Cancel</button>
            </span>
          </h4>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <fieldset>

              <!-- Form Name -->


              <!-- Text input-->
              <!--<legend>Choose Driver Type</legend>
                    <div class="form-group">
                        <div class="col-sm-5">
                        <input type="radio" value="primary" name="d_type" [(ngModel)]="driver.driver_type"> Primary Driver
                        <input type="radio" value="secondary" name="d_type" [(ngModel)]="driver.driver_type"> Secondary Driver
                        </div>
                    </div>-->

              <legend></legend>
              <div class="form-group">
                <div class="col-sm-3">
                  <p>
                    <b> First Name*</b>
                  </p>
                  <input type="text" name="first_Name" [(ngModel)]="driver.d_name" placeholder="First Name" class="form-control">
                  <span class="text-danger" ng-show="first_Name.$error.required">{{message1}}</span>
                </div>

                <div class="col-sm-3">
                  <p>
                    <b> Phone Number*</b>
                  </p>
                  <input type="text" name="dPhone_Nbr" [(ngModel)]="driver.d_contact_num" placeholder="Phone Number" maxlength="10" class="form-control">
                  <span class="text-danger" ng-show="dPhone_Nbr.$error.required">{{message2}}</span>
                </div>
              </div>




              <!--
                      <div class="col-sm-3">
                        <input type="text" name="DriverId" [(ngModel)]="DriverId" placeholder="Driver Id" class="form-control">
                        <span class="text-danger" ng-show="DriverId.$error.required">{{message3}}</span>
                      </div>-->






              <!--<div class="col-sm-3">
                        <input type="email" name="Email"  [(ngModel)]="Email" placeholder="Email" class="form-control">
                        <span class="text-danger" ng-show="Email.$error.required">{{message5}}</span>
                      </div>
                     -->

              <!-- Text input-->


              <!-- Address Section -->
              <!-- Form Name -->
              <legend>Address Details</legend>
              <!-- Text input-->
              <div class="form-group">
                <div class="col-sm-9">
                  <p>
                    <b>Present Address</b>
                  </p>
                  <input type="text" name="local_Address" [(ngModel)]="driver.d_local_add" placeholder="Present Address" class="form-control">
                  <span class="text-danger" ng-show="local_Address.$error.required"></span>
                </div>

                <div class="col-sm-9">
                  <p>
                    <b>Permanent Address*</b>
                  </p>
                  <input type="text" name="permanent_Address" [(ngModel)]="driver.d_permanent_add" placeholder="Permanent Address" class="form-control">
                  <span class="text-danger" ng-show="permanent_Address.$error.required">{{message3}}</span>
                </div>
              </div>

              <!-- Emergency Contact Section -->
              <!-- Form Name -->
              <legend>Essential Information</legend>
              <!-- Text input-->

              <div class="form-group">
                <div class="col-sm-4">
                  <p>
                    <b>Driving Liscense Number*</b>
                  </p>
                  <input type="text" name="dl_Nbr" [(ngModel)]="driver.license_num" placeholder="Driving Liscense Number" maxlength="10" class="form-control">
                  <span class="text-danger" ng-show="dl_Nbr.$error.required">{{message4}}</span>
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-3">
                  <p>
                    <b>License Expiry Date*</b>
                  </p>
                  <input type="date" name="license_exp_date" [(ngModel)]="driver.license_exp_date" placeholder="License Expiry Date" class="form-control">
                  <span class="text-danger" ng-show="license_exp_date.$error.required">{{message5}}</span>
                </div>

                <!--      <div class="col-sm-3">
                      <p> <b> Vendor Name </b>  </p> <input type="text" name="vendor_Name" [(ngModel)]="vendor_Name" placeholder="Vendor Name" class="form-control">
                        <span class="text-danger" ng-show="vendor_Name.$error.required">{{message7}}</span>
                      </div>   -->
              </div>


              <legend>Documents to be Uploaded</legend>
              <div class="form-group">
                <div class="col-sm-5">
                  <p>
                    <b>Driver Commercial Liscence Document*</b>
                  </p>
                  <input type="file" id="d_comercial_liscence" name="d_comercial_liscence" accept="image/x-png,image/gif,image/jpeg" (change)="image1_commercial()">
                  <span class="text-danger" ng-show="d_comercial_liscence.$error.required">{{message6}}</span>
                </div>

                <div class="col-sm-4">
                  <p>
                    <b>Police Verification Document*</b>
                  </p>
                  <input type="file" id="d_police_verification" name="d_police_verification" accept="image/x-png,image/gif,image/jpeg" (change)="image2_police()">
                  <span class="text-danger" ng-show="d_police_verification.$error.required">{{message7}}</span>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <p>
                    <b>Driver Present Address Proof</b>
                  </p>
                  <input type="file" id="d_local_Address_proof" name="d_local_Address_proof" accept="image/x-png,image/gif,image/jpeg" (change)="image3_local_add()">
                  <span class="text-danger" ng-show="d_local_Address_proof.$error.required"></span>
                </div>

                <div class="col-sm-4">
                  <p>
                    <b>Driver Permanent Address Proof*</b>
                  </p>
                  <input type="file" id="d_permanent_address_proof" name="d_permanent_address_proof" accept="image/x-png,image/gif,image/jpeg"
                    (change)="image4_permanent_add()">
                  <span class="text-danger" ng-show="d_permanent_address_proof.$error.required">{{message8}}</span>
                </div>

                <div class="col-sm-4">
                  <p>
                    <b>Driver Photo*</b>
                  </p>
                  <input type="file" id="d_photo" name="d_photo" accept="image/x-png,image/gif,image/jpeg" (change)="image5_photo()">
                  <span class="text-danger" ng-show="d_photo.$error.required">{{message9}}</span>
                </div>
              </div>
              <legend>Documents to be Uploaded</legend>
              <div class="form-group">
                <div class="col-sm-5">
                  <b>Driver Commercial Liscence Document*</b>
                  <br>
                  <a href="/tmp/vendor-documents/{{driver.d_license}}" target="_blank">
                    Driver License
                  </a>
                </div>

                <div class="col-sm-4">
                  <b>Police Verification Document*</b>
                  <br>
                  <a href="/tmp/vendor-documents/{{driver.d_police_verification}}" target="_blank">
                    Driver Police Verification
                  </a>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <b>Driver Present Address Proof</b>

                  <br>
                  <a href="/tmp/vendor-documents/{{driver.d_local_add_proof}}" target="_blank">
                    Driver Present Address Proof
                  </a>
                </div>

                <div class="col-sm-4">
                  <b>Driver Permanent Address Proof*</b>
                  <br>
                  <a href="/tmp/vendor-documents/{{driver.d_permanent_add_proof}}" target="_blank">
                    Driver Permanent Address Proof
                  </a>
                </div>

                <div class="col-sm-4">
                  <b>Driver Photo*</b>
                  <br>
                  <a href="/tmp/vendor-documents/{{driver.d_photo}}" target="_blank">
                    Driver Photo
                  </a>
                </div>
              </div>

              <!-- <div class="col-sm-3">
                                        <p><b>Character Certificate Document</b></p> 
                                        <input type="file" name="d_character_certi" file-Model="d_character_certi" placeholder="d_character_certi">
                                      </div>-->



              <!--  <div class="col-sm-3">
                                        <p> <b>Medical Certificate Document </b></p>
                                           <input type="file" name="d_medical_certificate" file-Model="d_medical_certificate" placeholder="d_medical_certificate">
                                      </div> -->



              <!-- Command -->

            </fieldset>
          </form>
        </div>
      </div>


    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->