.emp-list-link{cursor: pointer;}
.emp-list-link:hover{text-decoration: none;color: #0000ff;}
#filter-title{display: inline-block;margin: 0px;}
#filter-panel{margin-bottom: 8px;}
#filter-panel .panel-body{padding: 10px 10px 5px 10px;}
#view-employee{height: 500px;}
#filter-panel .form-group{margin-bottom: 8px;}
.panel-info, .panel-default{margin-bottom: 5px;}
.panel-info .panel-title, .panel-default .panel-title{padding:0px;}
.panel-heading{padding: 4px 4px 4px 15px;height: 45px;}
.panel-default .panel-heading{color: #707070;}
.emp-panel-body{padding: 5px;}
.view-employee-row-table tr td strong{padding-right: 15px;}
.emp-quick-details{display: none;}
.panel-title{padding: 7px; font-size: 18px;}
/* .panel-heading{height: 45px;} */

#filter-panel .tooltip-text{
    /* margin: 5px 50px 0px 0px; */
    margin-left: -52px;
    margin-top: 6px;
}

.tooltip-text{
    display: none;
    position: absolute;
    background: #000000;
    padding: 5px 15px;
    color: #ffffff;
    font-weight: bold;
    z-index: 1;
    border-radius: 10px;
    opacity: 0.6;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip-text:hover{
    display: none;
}

