
#filter_body{ 
    
    padding-bottom: 0px;
}

#filter_box{
border: 1px solid lightgray;
opacity: 0.8;
}
/* Show the tooltip text when you mouse over the tooltip container */
#tooltip:hover .tooltiptext {
    visibility: visible;
}

#tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px; 
    z-index: 1;
    opacity: 0.75;
    margin-bottom: -60px;  /* Use half of the width (120/2 = 60), to center the tooltip */
}

.vdisabled {
  color: gray;
  cursor: not-allowed;
  pointer-events: none;
 
}

.vendor-details-panel{
  display: none;
}

#loader_gif{
    width: 70px;
    height: 70px;
}

.loading_gif{
  text-align: center;
}