<app-header></app-header>


<div id="filter-panel" class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Filter</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="form-group">
        <div class="col-sm-3">
          <select name="filterType" [(ngModel)]="defaultRequest" class="form-control">
            <option value="Pending">Pending</option>
            <option value="Allocated">Allocated</option>
          </select>
        </div>
        <div class="col-sm-3">
          <button type="button" (click)="search()" class="btn btn-default">
            Go
          </button>
          <input type="checkbox" id="chk_selectAll" (click)="toggleSelectAll()" /> Select All
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loading_gif" *ngIf="loader">
  <img id="loader_gif" src="assets/img/blue_loading.gif" alt="Be patient..." />
</div>


<div *ngFor="let request of requests; let i = index">
  <div class="panel panel-info">
    <div class="panel-heading ">
      <div class="panel-title">
        <div class="row">
          <div class="col-md-10 requestDiv">
            <input type="checkbox" value="{{request?.Request_ID}}" id="chk_rqst_{{i}}" name="chk_rqst" />
            <strong>{{request?.Employee_Name}} ({{request?.Emp_ID}})</strong>
          </div>
          <div class="col-md-2">
            <div class="pull-right">
              &nbsp;&nbsp;
              <span *ngIf="showReqArr[i] == false" class="glyphicon glyphicon-chevron-down" aria-hidden="true" (click)="onShowDetails(i)"></span>
              <span *ngIf="showReqArr[i] == true" class="glyphicon glyphicon-chevron-up" aria-hidden="true" (click)="onHideDetails(i)"></span>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body vendor-details-panel" id="urqst-{{i}}">
      <div class="row">
        <div class="col-md-6" *ngIf="request?.Emp_Gender==='M';  else elseBlock">
          <strong> Gender:</strong> Male
        </div>
        <ng-template #elseBlock>
          <div class="col-md-6">
            <strong> Gender:</strong>Female
          </div>
        </ng-template>
        <div class="col-md-6">
          <strong> Contact:</strong> {{request?.Emp_Mob_Nb}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <strong> Manager Name:</strong> {{request?.Manager_Name}}
        </div>
        <div class="col-md-6">
          <strong> Request Status:</strong> {{request?.Approval}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <strong>Pickup Location:</strong> {{request?.Source}}
        </div>
        <div class="col-md-6">
          <strong> Drop Location:</strong> {{request?.Destination}}
        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <strong>Pickup Time: </strong>{{request?.Start_Time}}
        </div>
        <div class="col-md-6">
          <strong> Drop Time:</strong> {{request?.Start_Time}}
        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <strong>Start Date: </strong>{{request?.Start_Date}}
        </div>
        <div class="col-md-6">
          <strong>End Date:</strong> {{request?.End_Date}}
          <button class="button pull-right" (click)="allocateRequest(request.Request_ID)">Allocate</button>
        </div>
      </div>

      <div class="row" *ngIf="request?.Cab_no">

        <div class="col-md-6">
          <strong>Cab no: </strong>{{request?.Cab_no}}
        </div>

      </div>

    </div>

  </div>
</div>