#checkin-button-container button, #checkout-button-container button{
    /* margin: 0px auto; */
    width: 100%;
}

.btn-primary{
    color: #fff;
    background-color: #337ab7;
}


.mobile-only{
    display: none;
}


@media (max-width: 767px){
    .mobile-only{
        display: block;
    }
}