#checkin-button-container button, #checkout-button-container button{
    /* margin: 0px auto; */
    width: 100%;
}

.mobile-only{
    display: none;
}

.mobile-only-message{
    display: block;
}

@media (max-width: 767px){
    .mobile-only{
        display: block;
    }

    .mobile-only-message{
        display: none;
    }
}