

    input {
        background-color:transparent;
        border: 0px solid;
        height:30px;
        width:260px;
        box-shadow: none;
    }
    input:focus {
        outline:none;
    }
   .pull-right.button{
       position: absolute;
       right:75%
   }