<app-header [module]="module" [navLocation]="navLocation"></app-header>
<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
   <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a> 
  
    <!-- Overlay content -->
   
        <div  class="overlay-content">
        <div *ngIf = "showLoader && checked" class = "loader-animation"></div>
        <div>
            <div class="success">{{message_image}}</div>
        <img *ngIf = "!showLoader" [src]='photo()'>
        </div>
      <!-- <img src="../../assets/img/loader.gif"> -->
     
    </div>
    </div>  
<div *ngIf="showLoading" class="loader-animation"></div>
<div>

  <div *ngIf="!showLoading">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading view-driver-panel clearfix">
          <h4 class="panel-title"> View Driver Details
            <span class="pull-right">
              <button type="button" routerLinkActive="active" [routerLink]="['/driver-update' ,driver.driver_id]" class=" btn-primary">Edit</button> |
              <button routerLink="/driver-list" type="submit" class=" btn-primary">Cancel</button>
            </span>
          </h4>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form">

            <fieldset>

              <!-- Form Name -->


              <!-- Text input-->
              <!--<legend>Choose Driver Type</legend>
                      <div class="form-group">
                          <div class="col-sm-5">
                          <input type="radio" value="primary" name="d_type" [(ngModel)]="driver.driver_type"> Primary Driver
                          <input type="radio" value="secondary" name="d_type" [(ngModel)]="driver.driver_type"> Secondary Driver
                          </div>
                      </div>-->

              <legend>Personal Information Details</legend>

              <div class="form-group">
                <div class="col-sm-3">
                  <p>
                    <b> First Name*</b>
                  </p>
                  <input type="text" name="first_Name" [(ngModel)]="driver.d_name" disabled placeholder="First Name" class="form-control">

                </div>

                <div class="col-sm-3">
                  <p>
                    <b> Phone Number*</b>
                  </p>
                  <input type="text" name="dPhone_Nbr" [(ngModel)]="driver.d_contact_num"disabled placeholder="Phone Number" maxlength="10" class="form-control">

                </div>
              </div>




              <!--
                        <div class="col-sm-3">
                          <input type="text" name="DriverId" [(ngModel)]="DriverId" placeholder="Driver Id" class="form-control">
                          <span class="text-danger" ng-show="DriverId.$error.required">{{message3}}</span>
                        </div>-->






              <!--<div class="col-sm-3">
                          <input type="email" name="Email"  [(ngModel)]="Email" placeholder="Email" class="form-control">
                          <span class="text-danger" ng-show="Email.$error.required">{{message5}}</span>
                        </div>
                       -->

              <!-- Text input-->


              <!-- Address Section -->
              <!-- Form Name -->
              <legend>Address Details</legend>
              <!-- Text input-->
              <div class="form-group">
                <div class="col-sm-9">
                  <p>
                    <b>Present Address</b>
                  </p>
                  <input type="text" name="local_Address" [(ngModel)]="driver.d_local_add" disabled placeholder="Present Address" class="form-control">

                </div>

                <div class="col-sm-9">
                  <p>
                    <b>Permanent Address*</b>
                  </p>
                  <input type="text" name="permanent_Address" [(ngModel)]="driver.d_permanent_add" disabled placeholder="Permanent Address" class="form-control">

                </div>
              </div>

              <!-- Emergency Contact Section -->
              <!-- Form Name -->
              <legend>Essential Information</legend>
              <!-- Text input-->

              <div class="form-group">
                <div class="col-sm-4">
                  <p>
                    <b>Driving Liscense Number</b>
                  </p>
                  <input type="text" name="dl_Nbr" [(ngModel)]="driver.d_license_num" disabled placeholder="Driving Liscense Number" maxlength="10"
                    class="form-control">

                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-3">
                  <p>
                    <b>License Expiry Date*</b>
                  </p>
                  <input type="date" name="license_exp_date" [(ngModel)]="driver.license_exp_date" disabled placeholder="License Expiry Date" class="form-control">

                </div>

                <!--      <div class="col-sm-3">
                        <p> <b> Vendor Name </b>  </p> <input type="text" name="vendor_Name" [(ngModel)]="vendor_Name" placeholder="Vendor Name" class="form-control">
                          <span class="text-danger" ng-show="vendor_Name.$error.required">{{message7}}</span>
                        </div>   -->
              </div>


              
              <legend>Documents to be Uploaded</legend>
              <div class="form-group">
                <div class="col-sm-4">
                  <b>Driver Commercial Liscence Document*</b>
                  <br>
                  <button type="button"  routerLinkActive="active"  (click) = "image(driver.d_license)"  class="btn btn-default btn-md"
                     style="background:white;">
                    <span class="glyphicon glyphicon-eye-open"  aria-hidden="true"  style="float:right;"> </span>
                      </button>
                </div>

                <div class="col-sm-4">
                  <b>Police Verification Document*</b>
                  <br>
                  <!-- <button type="button"  routerLinkActive="active"  [routerLink]="['/image-details', driver.police_verification]"  class="btn btn-default btn-md" -->
                    <button type="button"  routerLinkActive="active"  (click) = "image(driver.police_verification)"  class="btn btn-default btn-md"
                     style="background:white;">
                    <span class="glyphicon glyphicon-eye-open"  aria-hidden="true"  style="float:right;"> </span>
                      </button>
                </div>

                <div class="col-sm-4">
                  <b>Driver Permanent Address Proof*</b>
                  <br>
                  <button type="button"  routerLinkActive="active"  (click) = "image(driver.d_permanent_add_proof)"  class="btn btn-default btn-md"
                     style="background:white;">
                    <span class="glyphicon glyphicon-eye-open"  aria-hidden="true"  style="float:right;"> </span>
                      </button>
                </div>

              </div>

              <div class="form-group">



                <div class="col-sm-4">
                  <b>Driver Photo*</b>
                  <br>
                  <button type="button"  routerLinkActive="active"  (click) = "image(driver.driver_photo)"  class="btn btn-default btn-md" style="background:white;">
                    <span class="glyphicon glyphicon-eye-open"  aria-hidden="true"  style="float:right;"> </span>
                  </button>
                </div>
                <div class="col-sm-4">
                  <b>Driver Present Address Proof</b>

                  <br>
                  <button type="button"  routerLinkActive="active"  (click) = "image(driver.d_local_add_proof)"  class="btn btn-default btn-md" style="background:white;">
                    <span class="glyphicon glyphicon-eye-open"  aria-hidden="true"  style="float:right;"> </span>
                  </button>
                  <span *ngIf="verify1()" class="glyphicon glyphicon-remove-sign"></span>


                </div>
              </div>







              <!-- <div class="col-sm-3">
                                          <p><b>Character Certificate Document</b></p> 
                                          <input type="file" name="d_character_certi" file-Model="d_character_certi" placeholder="d_character_certi">
                                        </div>-->



              <!--  <div class="col-sm-3">
                                          <p> <b>Medical Certificate Document </b></p>
                                             <input type="file" name="d_medical_certificate" file-Model="d_medical_certificate" placeholder="d_medical_certificate">
                                        </div> -->



              <!-- Command -->




              <!-- Command -->

            </fieldset>
          </form>
        </div>
      </div>

    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->