.input-group .form-control{
    border-radius: 5px;
}

.panel-title{
    text-align: center;
}

.container{
    margin-top: 10%;
    margin-bottom: 10%;
}

.loader-animation{
    background-image: url('/assets/img/loading.gif');
    background-size: 120px 120px;
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.loader-animation-text{
    position: relative;
    top:80px;
    left:5px;
}