<nav class="navbar navbar-default">
    <table class="col-sm-12">
        <tr>
 
    
            <td class="col-lg-5">  
              <div class="navbar-brand" routerLink="/dash"><strong>iNCRediCabs</strong></div>
                 <ul class="nav navbar-nav">
                    <li>
                     <span class="separator">
    
                     </span>
                    </li>  
                    <li><a  class="nav-tabs">Dashboard/{{a}}</a></li>
    
                 </ul>
            </td>
            <td class="col-lg-5">
                <ul class="nav navbar-nav">
                    <li><span class="separator"></span></li>
                    <li>
                      <a routerLink="/unscheduledRequest">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        Request
                      </a>
                    </li>
                    <li><span class="separator"></span></li>
                  </ul>
            </td>
      
        
<td>
  <ul class="nav navbar-nav pull-right">
    <li>
      <span class="separator">

      </span>
    </li>  
    <li>
      <a routerLink="">
          <span class="glyphicon glyphicon-log-out"></span>
        Logout
      </a>
      </li>
  </ul>
  </td>
</tr>
</table>
       

</nav>
