<nav class="navbar navbar-default">
 
    
      
  <div class="navbar-brand"><strong>iNCRediCabs</strong></div>
  <ul class="nav navbar-nav">
    <li><a routerLink="/dash" class="nav-tabs">Dashboard</a></li>
    <li><a class="nav-tabs" routerLink="">Logout</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li><a routerLink="/add-vendor" class="nav-tabs">Add Vendor</a></li>
    <li><a routerLink="/cab-list" class="nav-tabs" >View Cab</a></li>
    <li><a routerLink="/driver-list" class="nav-tabs">View Driver</a></li>
  </ul>

</nav>