<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <strong>
          <a *ngIf="admin" routerLink="/dash">iNCRediCabs</a>
          <a *ngIf="admin == false" routerLink="/employee-dash">iNCRediCabs</a>
        </strong>
      </div>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
        <span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="incredicabs-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ empFName }}
            <span class="glyphicon glyphicon-triangle-bottom profile-menu-button">

            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ul class="nav navbar-nav">
              <!-- <li class="nav-item"><a routerLink="/employee-dash" class="nav-tabs">My Profile</a></li> -->
              <li class="nav-item"><a routerLink="/employee-dash/unscheduled-cab-request" class="nav-tabs"><span class="glyphicon glyphicon-time"></span>Request for unscheduled cab</a></li>
              <li class="nav-item"><a routerLink="/employee-dash/change-password" class="nav-tabs"><span class="glyphicon glyphicon-lock"></span>change password</a></li>
              <li class="nav-item"><a routerLink="/logout" class="nav-tabs"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
            </ul>
          </div>
        </li>        
      </ul>
    </div>
  </div>
</nav>