<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <div class="panel-body">

              <form id="register-form" role="form" autocomplete="off" class="form" method="post" #f="ngForm" (ngSubmit)="onSave(f.value)">

                <div class="form-group">
                  <!-- Input field row -->
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                      <input type="text" name="Emp_Qlid" placeholder="QLid" maxlength="8" class="form-control" [(ngModel)]="qlid">
                    </div>
                  </div>
                  <!-- Error row -->
                  <h1> {{this.qlid}}</h1>
                  <div class="form-group">
                    <!-- Employee QLID -->

                    <div *ngIf="formError.empQlid.error" class="text-danger form-error">
                      {{ formError.empQlid.message }}

                    </div>
                  </div>
                </div>
                <!--  <div class="form-group">
      <div class="g-recaptcha" data-sitekey="6LdYHkgUAAAAAMHscB_uYn2KdCdl5p0QbB6Ko7IF"></div>
                      </div> 
    -->

                <div class="form-group">
                  <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                </div>


              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>